<div class="jumbotron">
  <h1 class="display-4">Welcome to On The Grind Coffee!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>One of a kind online only coffee experience! Place your order online and drive thru to pick up.</p>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Hot Coffees</a>
      <a class="dropdown-item" href="#">Cold Coffees</a>
      <a class="dropdown-item" href="#">Non-Coffee Drinks</a>
    </div>
  </div>
</div>

<h3>Hot Coffees</h3>
<h1>Prices shown are for Small/Medium/Large sizes</h1>
<br>
<ul class="list-group">
  <li class="list-group-item">Drip Coffee $1.75/$2.00/$2.25 <button class="btn btn-success" type="button">Add to Cart</button></li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
